Repository david-piatek/search-work-workflow: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: Remove outdated tests and fix vitest configuration
  apps/backend/test/app.e2e-spec.ts
  apps/frontend/vite.config.js
Due: prettier --write, eslint --fix

fix: Correct GitLab Container Registry path to include project name
  .gitlab-ci.yml
  CLAUDE.md
  cloud/docker/docker-bake.hcl
Due: prettier --write

fix: Add imagePullSecrets and missing Helm components
  cloud/argocd/SETUP_SECRETS.md
  cloud/helm/job-scraper-app/templates/backend-deployment.yaml
  cloud/helm/job-scraper-app/templates/configmap.yaml
  cloud/helm/job-scraper-app/templates/frontend-deployment.yaml
  cloud/helm/job-scraper-app/templates/ingress.yaml
  cloud/helm/job-scraper-app/values-simple.yaml
Due: prettier --write

feat: Add PostgreSQL database to Helm chart
  cloud/helm/job-scraper-app/templates/postgres-service.yaml
  cloud/helm/job-scraper-app/templates/postgres-statefulset.yaml
  cloud/helm/job-scraper-app/templates/secrets.yaml
  cloud/helm/job-scraper-app/values-simple.yaml
Due: none

fix: Remove non-existent public directory from frontend Dockerfile
  cloud/docker/Dockerfile.frontend-simple
Due: none

fix: Remove nginx user creation in frontend Dockerfile
  cloud/docker/Dockerfile.frontend-simple
Due: none

fix: Remove --prefer-offline flag to fix pnpm cache concurrency
  cloud/docker/Dockerfile.backend-simple
  cloud/docker/Dockerfile.frontend-simple
Due: none

fix: Remove cache mounts from builder stage to fix multi-platform builds
  cloud/docker/Dockerfile.backend-simple
  cloud/docker/Dockerfile.frontend-simple
Due: none

fix: Update nginx backend proxy to use correct Kubernetes service name
  apps/frontend/nginx-simple.conf
Due: none

fix: Add nginx cache and run directory permissions for non-root user
  cloud/docker/Dockerfile.frontend-simple
Due: none

fix: Change nginx to use port 8080 for non-root user
  apps/frontend/nginx-simple.conf
  cloud/docker/Dockerfile.frontend-simple
  cloud/helm/job-scraper-app/values-simple.yaml
Due: none

fix: Move nginx PID file to /tmp for non-root user
  apps/frontend/nginx-simple.conf
Due: none

fix: Remove pid directive from server config
  apps/frontend/nginx-simple.conf
Due: none

fix: Use custom nginx.conf with /tmp paths for non-root user
  apps/frontend/nginx.conf
  cloud/docker/Dockerfile.frontend-simple
Due: none

fix: Update QR code URL to production domain
  apps/frontend/src/components/CompanyQrManager.svelte
Due: prettier --write, eslint --fix

feat: Add rerunWorkflow column to job_offers table
  apps/backend/src/companies/dto/create-company.dto.ts
  apps/backend/src/companies/entities/company.entity.ts
Due: prettier --write, eslint --fix

Revert "feat: Add rerunWorkflow column to job_offers table"
  apps/backend/src/companies/dto/create-company.dto.ts
  apps/backend/src/companies/entities/company.entity.ts
Due: prettier --write, eslint --fix

fix: Reorder routes in CompaniesController to prevent path matching issues
  apps/backend/src/companies/companies.controller.ts
Due: prettier --write, eslint --fix

refactor: Rename company to job-offer throughout codebase
  CLAUDE.md
  apps/backend/src/app.module.ts
  apps/backend/src/companies/companies.controller.ts
  apps/backend/src/companies/companies.module.ts
  apps/backend/src/companies/companies.service.ts
  apps/backend/src/job-offers/dto/create-job-offer.dto.ts
  apps/backend/src/job-offers/dto/update-job-offer.dto.ts
  apps/backend/src/job-offers/entities/job-offer.entity.ts
  apps/backend/src/job-offers/job-offers.controller.ts
  apps/backend/src/job-offers/job-offers.module.ts
  apps/backend/src/job-offers/job-offers.service.ts
  apps/frontend/src/App.svelte
  apps/frontend/src/components/JobOfferManager.svelte
  apps/frontend/src/components/OfferPage.svelte
Due: prettier --write, eslint --fix

refactor: Remove upsert endpoint and unused generator modules
  CLAUDE.md
  apps/backend/src/app.module.ts
  apps/backend/src/generators/generators.module.ts
  apps/backend/src/generators/letter/letter.controller.ts
  apps/backend/src/generators/letter/letter.module.ts
  apps/backend/src/generators/letter/letter.service.ts
  apps/backend/src/generators/site/site.controller.ts
  apps/backend/src/generators/site/site.module.ts
  apps/backend/src/generators/site/site.service.ts
  apps/backend/src/hosting/hosting.controller.ts
  apps/backend/src/hosting/hosting.module.ts
  apps/backend/src/hosting/hosting.service.ts
  apps/backend/src/job-offers/job-offers.controller.ts
  apps/backend/src/job-offers/job-offers.service.ts
  apps/backend/src/main-original.ts
  apps/backend/src/main-simple.ts
  apps/frontend/src/components/JobOfferManager.svelte
Due: prettier --write, eslint --fix

fix: Update GitLab registry URLs to use correct namespace
  .gitlab-ci.yml
  apps/qr-generator/output/qr-1765565147999.png
  apps/qr-generator/output/qr-1765565195824.png
  apps/qr-generator/output/qr-1765565221440.png
  apps/qr-generator/output/qr-1765565257537.png
  apps/qr-generator/output/qr-1765565299234.png
  apps/qr-generator/output/qr-1765565302442.png
  apps/qr-generator/output/qr-1765565316708.png
  apps/qr-generator/output/qr-1765565330063.png
  apps/qr-generator/output/qr-1765565382745.png
  apps/qr-generator/output/qr-1765566937747.png
  apps/qr-generator/output/qr-1765567167408.png
  cloud/docker/docker-bake.hcl
  cloud/helm/job-scraper-app/values-simple.yaml
Due: none

feat: Implement automatic ArgoCD deployment with dynamic image tags
  .gitlab-ci.yml
  CLAUDE.md
  cloud/argocd/application.yaml
  cloud/helm/job-scraper-app/values.yaml
Due: prettier --write

fix: Correct YAML syntax in update-helm-values job
  .gitlab-ci.yml
Due: none

fix: Simplify yq syntax in update-helm-values job
  .gitlab-ci.yml
Due: none

feat: Use CI_JOB_TOKEN instead of manual token
  .gitlab-ci.yml
  CLAUDE.md
Due: prettier --write

fix: Use alpine:latest image instead of alpine/git
  .gitlab-ci.yml
Due: none

ci update image tags to 92588f24 [skip ci]
  cloud/helm/job-scraper-app/values.yaml
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,js,svelte}) or (any of: *.{json,md})
  eslint --fix: any of: *.{ts,js,svelte}
